*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  font-family: sans-serif;
  font-weight: 800;
  margin: 15px 0;
}
.container{
  display: flex;
}
.container .section{
  width: 350px;
  margin: 20px 50px;
}
.section .info{
  background: rgb(10, 10, 10);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.info span , .info h3{
  font-size: 25px;
  font-weight: bold;
  margin: 0px 10px;
  font-family: sans-serif;
  color: white;
}
.show{
  display: flex;
  align-items: center;
  justify-content: center;
  background : rgb(41, 40, 40);
  height: 220px;
}
.show i{
  font-size: 100px;
  color: orange;
}
h2{
  font-family: sans-serif;
  font-weight: bold;
  padding: 5px;
}
.selection{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 100px;
}
.selection button{
  margin: 0 20px;
  padding: 25px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background : rgb(41, 40, 40);
  font-size: 33px;
  color: orange;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}.scene {
	width: 1140px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
	right: 60px;
}

.scene__title {
	font-family: 'Georgia';
	font-size: 54px;
	border-radius: 40px;
	padding: 10px 25px;
	background-color: white;
	transition: transform .3s ease;
	position: relative;
	bottom: 100px;
}

.scene__title_modified {
	transform: scale(1.4);
}

.scene__content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
}

.scene__score-board {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	z-index: -1;
}

.scene__score-board_left, .scene__score-board_right {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 84px;
	fonst-weight: bold;
	font-family: 'Georgia';
}

.scene__score-board_left {
	background-color: #ff7575;
	color: #ff4040;
	flex: 1;
	font-size: 170px;
	position: relative;
	bottom: 450px;
	height: 2300px;

	
}

.scene__score-board_right {
	background-color: #6262ff;
	color: #2c2cff;
	flex: 1;
	font-size: 170px;
	position: relative;
	bottom: 450px;
	height: 2300px;
}

.scene__hand-container {
	width: 150px;
	animation: swang 1s ease-out infinite;
	display: flex;
	justify-content: flex-end;
	transform-origin: 0% 100%;
}

.scene__hand-container:last-child {
	justify-content: flex-start;
	animation: swang-reversed 1s ease-out infinite;
	transform-origin: 100% 100%;
}
.btn {
	background-color: #23D5AB;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 5px;
	color: #ffffff;
	display: inline-block;
	font-size: 55px;
	font-weight: bold;
	padding: 1em 1em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	
	 position: absolute;
	 left: 90px;
	 top: 120px;
	 font-family: Days One;
  }

  .btn--gradient {
	animation: gradient 3s ease infinite;
	background-image: linear-gradient(-45deg, #00ff0d, #E73C7E, #23A6D5, #23D5AB);
	  background-size: 1000% 400%;
  }

  @keyframes gradient{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.scene__hand {
	font-size: 96px;
	transform: rotate(-85deg);
	padding: 0 20px;
}

.scene__hand_left {
	transform: rotate(85deg) rotateY(180deg);
}

.scene__hand_rock {
	&:after {
		content: '✊';
	}
}

.scene__hand_paper {
	&:after {
		content: '✋';
	}
}

.scene__hand_scissor {
	&:after {
		content: '✌️';
	}
}

[data-type] {
	padding: 10px 25px;
	background: none;
	border-radius: 103px;
	font-family: 'Georgia';
	font-size: 50px;
	background-color: black;
	color: white;
	font-weight: bold;
	border: none;
	letter-spacing: 1px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	top: 30px;
	 &:active {
		transform: translatey(2px);
	}
}


@keyframes swang {
	0%,100% {transform: rotate(0deg);}
	50% {transform: rotate(10deg);}
}

@keyframes swang-reversed {
	0%,100% {transform: rotate(0deg);}
	50% {transform: rotate(-10deg);}
}